@import url('global.css');

:root {
    --font-family: "Roboto", Arial;

    --font-size-xs: 0.75rem;      /* 12px */
    --font-size-sm: 0.875rem;     /* 14px */
    --font-size-md: 1rem;         /* 16px */
    --font-size-mt: 1.125rem;     /* 18px */
    --font-size-lg: 1.25rem;      /* 20px */
    --font-size-mlg: 1.375rem;    /* 22px */
    --font-size-xl: 1.5rem;       /* 24px */
    --font-size-xltt:1.7rem;
    --font-size-xlt: 1.875rem;    /* 30px */
    --font-size-xxl: 2rem;        /* 32px */
    --font-size-xxxl: 2.5rem;     /* 40px */
    --font-size-3xl: 3rem;        /* 48px */
    --font-size-4xl: 3.5rem;      /* 56px */

    --color-primary: black;
    --color-secondary: white;
    --color-three: rgb(0, 113, 227);
    
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --border-radius-img-mov: 20px;

    --height-img-mov: 40vh;

    --nav-padding: 16px 32px;

    --section-padding: 36px;
    --section-padding_xs: 20px;

    --section-padding-top-conoce-panel-ideal: 38px;

    --gap-titulo-conjunto-section-3: 30px;
    --gap-titulo-conjunto-section-6: 60px;   
    --gap-titulo-conjunto-section-x: 40px;   
    --gap-nav: 60px; 

    --gap-logo-empresas: 120px;

    --gap-item-img: 30px;

    --gap-info-producto: 15px;

    --gap-bottom-section: 30px;

    --border-img: 20px;

    --height-header: 66px;

    --height-logo: 200px;

    --gap-logo-empresas: 7.5rem;                     /* 120px to rem */
    --gap-item-img: 1.875rem;                        /* 30px to rem */

    --gap-info-producto: 0.9375rem;                  /* 15px to rem */
    --gap-bottom-section: 1.875rem;                  /* 30px to rem */

    --border-img: 20px;

    --height-header: 4.125rem;                       /* 66px to rem */
    --height-logo: 12.5rem;                          /* 200px to rem */

    --gap-nav: 3.75rem;                              /* 60px to rem */

    --back-header: black;

    --back-apple: rgb(0, 113, 227);
    --border-apple: 1px solid rgb(0, 113, 227);
    --color-apple: rgb(0, 113, 227);
    --back-trans-apple: rgb(5, 121, 237);
    --color-btn-mas-info: rgb(0, 113, 227);
    --color-btn-compra: white; 

    --text-deco: underline;

    --letter-space1: 0.1px;
    --letter-space2: 0.2px;
    --letter-space3: 0.3px;
    --letter-space4: 0.4px;
    --letter-space5: 0.5px;
    --letter-space6: 0.6px;
    --letter-space7: 0.7px;
    --letter-space8: 0.8px;
    --letter-space10: 0.10px;
    --letter-space-1:-0.374px;

    /* --gap-btn-mas-compra: 30px; */

    --border-radius-btn-mas-compra: 980px;
    --padding-btn-mas-compra: 11px 21px;
    --font-size-btn-mas-compra: 17px;
    --color-btn-compra: white; 

    --gap-btn-mas-compra: 30px;           
    /* --padding-btn-mas-compra: 0.6875rem 1.3125rem;  */
    /* --font-size-btn-mas-compra: 1.0625rem;     */
}


/* ---------------------- */
/* -------- hero -------- */
/* ---------------------- */

.hero_fun {
    display: flex; 
    height: 100%;          
    /* padding-bottom: ; */
}

.container_hero_fun{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 100px 0px 0px 0px;
    gap: 30px;
    margin: 0 auto;      
}


.titulo_hero_fun_1{
    color: var(--color-primary);
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-bold);
}

.titulo_hero_fun_1 span{
    font-weight: var(--font-weight-bold);
}

.cont_img{
    height: 50%;
    padding: 48px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-img-mov);
    width: 100%;
}

.img_hero_fun{
    width: 100%;
    height: 100%;
    /* border-radius: var(--border-radius-img-mov); */
}

.conjunto_texto_hero_fun{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    width: 90%;
}

.titulo_hero_fun{
    color: var(--color-primary);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-medium);
}

.titulo_hero_fun span{
    color: orange;
}

.texto_hero_fun {
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-bold);
    line-height: 28px;
}

.texto_hero_fun span{
    color: rgb(121, 121, 121);
}



/* seccion historia */

/* Sección principal */
.historia_fun {
    padding-top: var(--section-padding);
    padding-bottom: 80px;
    display: flex;
}

/* Contenedor de la imagen y el texto */
.container_his_fun {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.img_his{
    height: 100%;
    width: 100%;
}

.conjunto_texto_fun{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 10px;
    width: 92%;
}

.texto_his_fun{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-bold);
    line-height: 28px;
}


/* celula - longitudes de onda */

.celula{
    display: flex;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.container_cel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 44px;
}

.titulo_cel{
    width: 90%;
    text-align: center;
    color: var(--color-primary);
    font-size: var(--font-size-xltt);
    font-weight: var(--font-weight-medium);

}

.item_cel{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 18px;
    padding-right: 18px;
}

.titulo_item_cel{
    font-size: 80px;
    font-weight: var(--font-weight-light);
    color: var(--color-three);
}

.subtitulo_item_cel{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-bold);
}

.texto_item_cel{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-regular);
}


/* seccion panel de control */

.seccion_panelc{
    display: flex;
    padding-top: var(--section-padding);
    padding-bottom: 100px;
    width: 100%;
}

.container_panelc{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
}

.img_panelc{
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-img-mov);
    margin-top: -160px;
}

.conjunto_texto_panelc{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    line-height: 26px;
    width: 96%;
    margin-top: -140px;
}

.texto_panelc{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-bold);
}

.clarito {
    color: rgb(121, 121, 121);
}



