@import url(global.css);

/* ------------------------------------------------------------------ */
/* -------- body ---------------------------------------------------- */
/* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ */
/* -------- menu ---------------------------------------------------- */
/* ------------------------------------------------------------------ */

/* ---------------------- */
/* -------- hero -------- */
/* ---------------------- */

#hero {
    display: flex;
    background-image: url('imgs_biocrak/imgs_index/img_hero_inicio/imagen_hero_inicio.png'); 
    background-size: cover;         
    background-position: center;   
    background-repeat: no-repeat;   
    height: 94vh;                  
}

/* #hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94vh;
    overflow: hidden;
} */


.hero_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    top: 100px;
    margin: 0 auto;
    width: 100%;
}

.conjunto_texto_hero{
    display: flex;
    flex-direction: column;
    /* gap: 32px; */
    gap: 10px;
    align-items: start;
}

.titulo_hero{
    color: var(--color-secondary);
    /* font-size: var(--font-size-xlt); */
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
}

.texto_hero{
    color: var(--color-secondary);
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-regular);
    width: 90%;
}

.conjunto_btn_hero{
    display: flex;
    gap: 16px;
    align-items: end;
    margin: 0 auto;
    text-align: center;
}

.btn_hero {
    /* border: 1px solid black; */
    background-color: black;
    border-radius: var(--border-radius-btn-mas-compra);
    padding: var(--padding-btn-mas-compra);
    color: var(--color-btn-compra);
    font-size: var(--font-size-btn-mas-compra);
    font-weight: var(--font-weight-light);
    letter-spacing: var(--letter-space-1);
}

/* .hero_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.hero_info {
    position: relative;
    z-index: 1;
} */

/* .btn_hero:hover{
    background-color: var(--back-trans-apple);
} */











/* ------------------------ */
/* ----- carrusel --------- */
/* ------------------------ */


:root{
    --slider-hei: 80px;
    --slider-wid: 80px;
    --total-brands: 7;
    --slider-mov: 150px;
}

.slider{
    padding-top: var(--section-padding-top-conoce-panel-ideal);
    /* padding-bottom: var(--section-padding-top-conoce-panel-ideal); */
    display: flex ;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-titulo-conjunto-section-3);
}

.titulo_slider{
    font-size: 1.6rem;
    font-weight: var(--font-weight-medium);
    width: 84%;
    text-align: center;
    margin: 0 auto;
  }

.wrapper {
    /* margin-inline: auto; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--slider-mov), 1fr));
    position: relative;
    height: var(--slider-hei);
    overflow: hidden;
    /* overflow-x: hidden; */
    transition: overflow 0.3s ease;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );

    /* overflow-x: auto; */
  }

/* .wrapper:hover, .wrapper:focus-within {
    overflow-x: auto; 
 } */
  
  @keyframes scrollLeft {
    to {
      left: -100px;
    }
  }
  
  .item {
    width: var(--slider-wid);
    height: var(--slider-hei);
    /* background-color: red; */
    /* border-radius: 6px; */
    position: absolute;
    left: max(calc(140px * var(--total-brands)), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;

    animation-delay: calc(30s / var(--total-brands) * (var(--total-brands) - var(--position)) * -1);
  }

.wrapper .item img{
    height: auto; 
    width: 100%; 
    object-fit: contain;
}

@media (min-width: 992px) {

    :root{
        --slider-mov: 260px;
        --slider-wid: 120px;
        --slider-hei: 120px;
    }

    .wrapper {
        overflow-x: hidden;
    }

    .item {
        width: var(--slider-wid);
        height: var(--slider-hei);
        position: absolute;
        left: max(calc(var(--slider-mov) * var(--total-brands)), 100%);
        animation-name: scrollLeft;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

    .wrapper:hover .item{
        animation-play-state: paused;
    }
}

/* .wrapper:before,
.wrapper:after {
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  content: "";
  z-index: 2;
}

.wrapper:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.wrapper:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
} */

/* :root{
    --total-brand: 7;
    --logo-width:100px;
    --total-logo-width: calc(var(--total-brand) * var(--logo-width) * 2);
}

.slider2{
    width: 100vw;
    height: 12rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-align: center;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
      );
}

.slider2 .brands{
    width: var(--total-logo-width);

    display: flex;

    align-items: center;

    animation: slideLeft 10s linear infinite;
}

@keyframes slideLeft {
    100% {
        transform: translateX(calc(-100%/2));
    }
}

.brand-logo{
    margin-left: 80px;
}

.brand-logo img{
    width: var(--logo-width);
    height: auto;
    text-align: center;
}


@media (min-width: 992px) {

    .slider:hover .brand-logo{
        animation-play-state: paused;
    }
} */





/* ----------------------------------- */
/* ------- seccion productos --------- */
/* ----------------------------------- */

.seccion_productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-titulo-conjunto-section-3);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: fit-content;
}

.top_pro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--gap-titulo-conjunto-section-3);
}

.titulo_seccion_pro {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-medium);
}

.subtitulo_seccion_pro {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-light);
    text-align: center;
}

.conjunto_productos {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 8px;
    width: 100%;
    height: 100%;
}

.link_pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: var(--border-img); */
    /* height: 100%; */
    flex: 0 0 84%;
    scroll-snap-align: start;
    gap: 12px;
}

.link_pro .as{
    width: 96%;
    height: 48vh;
}

.img_pro {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-img);
}

/* Ocultar barra de desplazamiento */
.conjunto_productos::-webkit-scrollbar {
    display: none;
}

.info_imagen_pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--gap-info-producto);
    width: 64%;
    line-height: 20px;
}

.desk, .fuera, .out{
    display: none;
}

.nombre_pro{
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
}

.leds_pro{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-medium);
}

.texto_pro{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-light);
}

.btn_action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-btn-mas-compra);
}

.btn_action_solid {
    border: var(--border-apple);
    background-color: var(--back-apple);
    border-radius: var(--border-radius-btn-mas-compra);
    padding: var(--padding-btn-mas-compra);
    color: var(--color-btn-compra);
    font-size: var(--font-size-btn-mas-compra);
    font-weight: var(--font-weight-light);
    letter-spacing: var(--letter-space-1);
}

.btn_action_solid:hover {
    background-color: var(--back-trans-apple);
}

.btn_action_trans {
    color: var(--color-apple);
    font-size: var(--font-size-btn-mas-compra);
    font-weight: var(--font-weight-light);
    letter-spacing: var(--letter-space-1);
}

.btn_action_trans:hover {
    text-decoration: var(--text-deco);
}


/* alternativa dos productos */

.info_imagen_pro2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 20px; */
    width: 58%;
    line-height: 20px;
    gap: 20px;
}

.cont {
    display: flex;
    flex-direction: column;
    overflow-x: unset;
    scroll-snap-type: unset;
    gap: 40px;
    width: 100%;
    height: 100%;
}

.pro2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: var(--border-img); */
    /* height: 100%; */
    flex: unset;
    scroll-snap-align: unset;
    width: 98%;
    gap: 12px;
}

.nombre_pro2{
    width: 100%;
    text-align: center;
}

.btn2{
    width: 100%;
    text-align: center;
    /* margin-top: 0px; */
}




/* -------------------------------------------- */
/* ----- seccion comparar paneles ------------- */
/* -------------------------------------------- */

.seccion_comparativo {
    text-align: center;
    padding: 0px 10px;
    padding-top: var(--section-padding_xs);
    padding-bottom: var(--section-padding);
    align-items: center;
    justify-content: center;
}

/* Ocultar el input de checkbox */
.toggle_input {
    display: none;
}

/* Estilo del botón para mostrar/ocultar la tabla */
.btn_toggle {
    display: inline-block;
    padding: 1.25rem 1.875rem;
    background-color: white;
    color: black;
    border-radius: var(--border-radius-btn-mas-compra);
    font-size: var(--font-size-lg);
    border: 0.125rem solid black;
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-space-1);
}

.btn_toggle:hover {
    background-color: #dfdfdf;
}

/* Tabla oculta por defecto, se muestra cuando el checkbox está activado */
.tabla_oculta {
    display: none;
    padding-top: 20px;
}

.toggle_input:checked + .btn_toggle + .tabla_oculta {
    display: block; 
}








/* --------------------------------------------- */
/* ----------- seccion_soluciones -------------- */
/* --------------------------------------------- */

#seccion_sol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    gap: var(--gap-titulo-conjunto-section-3);
    background-color: transparent;
}

.titulo_seccion_sol {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-medium);
    text-align: center;
    width: 70%;
}

.conjunto_sol {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 8px;
    /* width: 98%; */
}

.link_sol {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* border-radius: var(--border-img); */
    height: var(--height-img-mov);
    flex: 0 0 84%;
    scroll-snap-align: start;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    height: 40vh; 
}


/* Imagen de fondo con oscurecimiento */
.imagen_sol {
    width: 96%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
    border-radius: var(--border-img);
}

.link_sol:hover .imagen_sol {
    filter: brightness(0.8); /* Reduce el oscurecimiento al hacer hover */
}


/* Contenedor de información sobre la imagen */
.item_sol {
    display: flex;
    position: absolute;
    /* bottom: 0; */
    /* left: 0; */
    width: 96%;
    padding: 16px;
    color: white;
    text-align: left;
    align-items: start;
    justify-content: flex-start;
    /* z-index: 1; */
    flex-direction: column;
    gap: 12px;
}

.texto_sol {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-light);
}

.texto2_sol{
    font-weight: var(--font-weight-medium);
    font-size: 1.2em;
}

.btn_action_solid_sol {
    display: inline;
    width: fit-content;
    font-size:var(--font-size-btn-mas-compra);
    border: 0.8px solid white;
    background-color: rgba(105, 105, 105, 0.491);
}

/* Ocultar barra de desplazamiento */
.conjunto_sol::-webkit-scrollbar {
    display: none;
}

.btn_action_solid_sol:hover{
        background-color: transparent;
}

/* alternativa dos soluciones */

.conjunto_sol3{
    flex-direction: column;
    display: flex;
    overflow-x: unset;
    scroll-snap-type: unset;
    gap: 8px;
}

.link_sol3{
    height: 26vh;
}













/* ------------------------------------------ */
/* ------------- seccion_beneficios --------- */
/* ------------------------------------------ */

.seccion_beneficios{
    display: flex;
    justify-content: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.container_beneficios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    gap: var(--gap-titulo-conjunto-section-3);
    max-width: 1000px;
}

.top_beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.titulo_beneficios{
    font-size: var(--font-size-xxxl);
    font-weight: 150;
    /* max-width: var(---max-width-16); */
    max-width: var(--max-width-1);
}

.subtitulo_beneficios{
    font-size: var(--font-size-xltt);
    font-weight: var(--font-weight-medium);
}

.mid_beneficios{
    max-width: var(--max-width-1);
    width: 100%;
}

.bottom_beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-bottom-section);
    width: 90%;
}

.titulo_bottom_beneficios{
    font-size: var(--font-size-xltt);
    margin-top: -44px;
    width: 94%;
    text-align: center;
}

.titulo_bottom_beneficios span{
    color: rgb(231, 133, 21);
}

.texto_bottom_beneficios{
    text-align: center;
    max-width: var(--max-width-1);
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-regular);
}

.desk{
    display: none;
}











/* ------------------------------------------- */
/* ------------ seccion_ funciona ------------ */
/* ------------------------------------------- */

.seccion_fun{
    display: flex;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    justify-content: center;
    align-items: center;
}

.container_fun{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width-1);
    gap: var(--gap-bottom-section);
    width: 98%;
    max-width: 1000px;
}

.top_fun{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.titulo_fun{
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-medium);
    max-width: var(---max-width-16);
}

.mid_fun{
    width: 90%;
    max-height: 40vh;
    border-radius: 20px;
    max-width: var(--max-width-1);
}

.bottom_fun{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    text-align: center;
}

.texto_bottom_fun{
    text-align: center;
    max-width: var(--max-width-1);
    width: 90%;
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-regular);
}

.subtitulo_bottom_fun{
    font-size: 1.8em;
    text-align: center;
    font-weight: var(--font-weight-medium);
}










/* ------------------------------------------- */
/* --------- preguntas frecuentes ------------ */
/* ------------------------------------------- */

.faq-section {
    display: flex;
    flex-direction: column;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    gap: var(--gap-titulo-conjunto-section-3);
    
}

.titulo_faq{
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-medium);
}

.conjunto_faq{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.faq_item{
    display: flex;
}

.faq-question {
    cursor: pointer;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 0 auto;
}

.faq{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-regular);
}

.faq-checkbox {
    display: none;
}
  
.plus_faq {
    color: black;
    transition: transform 0.3s;
    font-weight: var(--font-weight-medium);
}
  
.faq-checkbox:checked + .faq-question .plus_faq {
    transform: rotate(45deg); 
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
  
    padding: 0 34px;
    border-bottom: 0.6px solid rgb(0, 113, 227); 
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-regular);
  
}
  
.faq-checkbox:checked + .faq-question + .faq-answer {
    max-height: auto; 
    padding-top: 10px;
    padding-bottom: 30px;
}
  








/* ---------------------------------------------- */
/* --------footer ------------------------------- */
/* ---------------------------------------------- */

/* footer{
    background-color: black;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.footer_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(---max-width-16);
    width: 60vw;
    margin: 0 auto;
    gap: 20px;
    height: 140px;
}

.redes_foot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.tam_foot{
    height: 6vh;
}

.logo_foot{
    height: 20px;
} */