@import url('global.css');

/* --------------------------- */
/* -------- hero ------------- */
/* --------------------------- */

.hero_fun {
    display: flex; 
    /* height: 100%; */
    padding: 110px 0px 0px 0px;          
}

.container_hero_fun{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 92%;
    /* padding: 100px 0px 0px 0px; */
    gap: 30px;
    margin: 0 auto;      
}

.titulo_hero_fun_1{
    color: var(--color-primary);
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-bold);
}

.titulo_hero_fun_1 span{
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxxl);
}

.cont_img{
    height: 50%;
    padding: 48px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-img-mov);
    width: 100%;
}

.img_hero_fun{
    width: 100%;
    height: 100%;
    /* border-radius: var(--border-radius-img-mov); */
    object-fit: contain;
}

.conjunto_texto_hero_fun{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    /* width: 90%; */
}

.titulo_hero_fun{
    color: var(--color-primary);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-medium);
}

.titulo_hero_fun span{
    color: orange;
}

.texto_hero_fun {
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-hei);
    text-align: center;
}

.texto_hero_fun span{
    color: rgb(121, 121, 121);
}


/* -------------------------------- */
/* ----- seccion historia --------- */
/* ------------------------ ------- */


.historia_fun {
    padding-top: var(--section-padding);
    padding-bottom: 60px;
    /* display: flex; */
}

.container_his_fun {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* width: 100%; */
    gap: 30px;
}

.img_his{
    height: 100%;
    width: 100%;
    object-fit: cover;   
}

.conjunto_texto_fun{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 10px;
    width: 92%;
}

.texto_his_fun{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-hei);
}


/* -------------------------------- */
/* ----- seccion celula ----------- */
/* -------------------------------- */

.celula{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.container_cel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 50px;
}

.titulo_cel{
    width: 90%;
    text-align: center;
    color: var(--color-primary);
    font-size: var(--font-size-xltt);
    font-weight: var(--font-weight-medium);
    padding-bottom: 10px;
}

.item_cel{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 18px;
    padding-right: 18px;
    line-height: var(--line-hei);
}

.titulo_item_cel{
    font-size: 80px;
    font-weight: var(--font-weight-light);
    color: var(--color-three);
}

.subtitulo_item_cel{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-bold);
}

.texto_item_cel{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-regular);
}


/* -------------------------------- */
/* ----- seccion wave ------------- */
/* -------------------------------- */

.wave{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.container_wave{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 92%;
    margin: 0 auto;
}

.titulo_wave{
    width: 75%;
    text-align: center;
    color: var(--color-primary);
    font-size: var(--font-size-xltt);
    font-weight: var(--font-weight-medium);
}

.sub_wave{
    width: 100%;
    text-align: center;
    font-size: var(--font-size-mlg);
    font-weight: var(--font-weight-bold);
}

.rojo{
    color: rgb(255, 128, 0);
}

.infrarrojo{
    color: #8B0000;
}

.item_wave{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    width: 100%;
    gap: 10px;
    line-height: var(--line-hei);
}

.usos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.descrip, .usos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.titulo_usos{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-bold);
}

.titulo_item_wave{
    font-size: var(--font-size-mlg);
    font-weight: var(--font-weight-bold);
}

.texto_wave, .item_uso{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-regular);
}

.item_uso span{
    font-weight: var(--font-weight-semibold);
}


/* ---------------------------------------- */
/* ----- seccion panel de control --------- */
/* ---------------------------------------- */

.seccion_panelc{
    display: flex;
    padding-top: var(--section-padding);
    padding-bottom: 70px;
    width: 100vw;
  }
  
  .container_panelc{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    width: 92%;
    margin: 0 auto;
    gap: 20px;
    height: auto;
  }
  
  .img_panelc{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-img-mov);
  }
  
  .conjunto_texto_panelc{
    display: flex;
    /* height: 80%; */
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    line-height: var(--line-hei);
    width: 92%;
  }
  
  .texto_panelc{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-semibold);
  }
  
  .clarito {
    color: rgb(121, 121, 121);
  }
  



