@import url(global.css);

/* ----------------------------------- */
/* ------ seccion carrito ------------ */
/* ----------------------------------- */

.seccion_carrito {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--section-padding);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  gap: 30px;
  margin-top: 80px;
}


/* carrusel mobile puntos scroll solo */

/* .carousel {
  display: flex;
  gap: 5px; 
  width: 92%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
} 
.carousel-image {
  max-width: 100%; 
  width: 100%;
  height: 100%;
  height: 100%;
  border-radius: var(--border-img);
  object-fit: cover;
  scroll-snap-align: center;
} 

.carousel::-webkit-scrollbar {
  height: 8px; 
}  

.carousel::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px; 
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 5px; 
  color: white;
  background-color: white;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; 
} 

.prev, .next{
  display: none;
}

@media (min-width: 768px) {
  .carousel {
      overflow: hidden; 
      justify-content: center;
  }
  .carousel .carousel-image {
      display: none;
  }
  .carousel img.active {
      display: block; /
  }
} */


/* carrusel mobile puntos interactivos */

.container-carousel-mobile {
  position: relative;
  overflow: hidden;
  height: 58vh;
  width: 90%;
  /* overflow-x: auto;
  scroll-snap-type: x mandatory; */
  scroll-behavior: smooth; /* Transición suave al hacer scroll */
}

.carousel-mobile {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;  
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Oculta visualmente el scroll */

}

.carousel-mobile::-webkit-scrollbar {
  height: 0px; 
  display: none; /* Oculta el scroll en navegadores basados en WebKit */
} 

.carousel-mobile {
  scrollbar-width: none; /* Oculta el scroll en Firefox */
}

.carousel-image {
  flex: 0 0 100%; /* Ajustar el tamaño incluyendo el gap */
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  border-radius: 20px;
  object-fit: cover;
  padding-right: 4px;
}

.carousel-mobile > :last-child{
  padding: 0px;
}

.puntos {
  display: flex !important;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); /* Asegura que los puntos estén centrados */
  gap: 12px; /* Ajusta el espaciado entre los puntos si es necesario */
  flex-direction: row !important; /* Asegura que los puntos estén en fila */
  justify-content: center; /* Centra los puntos en el contenedor */
  margin-top: 10px;
  width: fit-content;
}

.punto {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.282);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.punto.activo {
  /* background-color: black; */
  background-color: rgba(255, 255, 255, 0.774);
}
.btn-left, .btn-right {
  display: flex;
  position: absolute;
  top: 46%;
  padding: 5px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.732);
  transform: translate(0,-50%);
  height: 40px;
  width: 40px;
}

.btn-left img, .btn-right img{
  height: 100%;
  width: 100%;
}

.btn-left {
  left: 16px;
  transform: rotate(90deg);
}

.btn-right {
  right: 16px;
  transform: rotate(-90deg);
}

.btn-left img:hover, .btn-right img:hover {
  filter: brightness(0.5);
  transition: filter 0.2s ease;
}

/* carrusel desk flechas interactivas */


/* .carousel-mobile {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel-image {
  flex: 0 0 100%;
  scroll-snap-align: start;
  width: 100%;
  height: auto;
}

.puntos {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.punto {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.punto.activo {
  background-color: #555;
} */

/* ------------ Detalles -------------- */

.details {
  display: flex;
  flex-direction: column;
  width: 86%;
  gap: 34px;
}

.conjunto_titulo_carrito{
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: left;
}

.title_carrito{
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semibold);
}

.texto_carrito1{
  font-size: var(--font-size-mt);
  font-weight: var(--font-weight-regular);
  width: 98%;
}

/* Para una transición suave */
/* .carousel-image {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
} */
/* 
.carousel-image.active {
  display: block;
  opacity: 1;
} */

/* ----- seleccion de modelos ----------- */

.select_model{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titulo_select{
  font-size: var(--font-size-mt);
  font-weight: var(--font-weight-regular);
}

.model-selection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.model-button {
  border: var(--border-apple);
  background-color: white;
  border-radius: var(--border-radius-btn-mas-compra);
  padding: var(--padding-btn-mas-compra);
  color: black;
  font-size: var(--font-size-btn-mas-compra);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-space-1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  /* border: 1px solid black; */
}

.model-button {
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.model-button.selected {
  background-color: #007bff;
  color: white;
  /* background-color: black; */
}

/* .model-button:hover {
  background-color: var(--color-apple);
  color: var(--color-secondary);
} */

/* .model-button.active {
  background-color: #ff4c4c; 
  color: #fff; 
  border: 2px solid #ff4c4c; 
  transition: background-color 0.3s ease;
} */

/* .model-button.active {
  background-color: #ff4c4c;
  color: #fff;
  border: 2px solid #ff4c4c;
  transition: background-color 0.3s ease;
} */



/* ----- productos incluidos ----------- */

.model_accesorie{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulo_accesorie{
  font-size: var(--font-size-mt);
  font-weight: var(--font-weight-semibold);
}

.lista_accesorie{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-mt);
  font-weight: var(--font-weight-regular);
  line-height: 26px;
  padding-left: 4px;
  gap: 14px;
}

.item_accesorie{
  display: flex;
  gap: 12px;
  align-items: center;
}

.item_accesorie span{
  display: flex;
  align-items: center; 
  justify-content: center;
  position: relative;
  border: 1.4px solid var(--color-three);
  width: 20px;       
  height: 20px;
  border-radius: 50%;
  padding: 0px 8px;
  font-size: 12px;
  color: var(--color-three);
  font-weight: var(--font-weight-bold);
}

/* ----- precios / boton a whatsapp ----------- */

.price-section {
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-size: var(--font-size-mt);
}

.price{
  font-weight: var(--font-weight-semibold);
}

.add-to-cart{
  border: var(--border-apple);
  background-color: var(--color-apple);
  border-radius: var(--border-radius-btn-mas-compra);
  padding: var(--padding-btn-mas-compra);
  color: white;
  font-size: var(--font-size-btn-mas-compra);
  font-weight: bold;
  letter-spacing: var(--letter-space2);
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-weight: var(--font-weight-semibold);
}


/* -------------------------------- */
/* ------ seccion facilidades ----- */
/* -------------------------------- */


.seccion_facil{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.facilidades{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  width: 86%;
  margin: 0 auto;
}

.titulo_fal{
  font-size: var(--font-size-mt);
  font-weight: var(--font-weight-semibold);
}

.lista_fal{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 16px;
  align-items: start;
  justify-content: center;
  /* padding: 34px 10px; */
  /* border: 1px solid #e4e1fc; */
  /* box-shadow: 4px 4px 8px rgba(60, 76, 116, 0.16);  */
  /* border-radius: 10px;  */
  width: 100%;
}

.item_fal{
  display: flex;
  /* flex-direction: column; */
  /* align-items: start; */
  /* width: 30%; */
  align-items: center;
  gap: 16px;
  font-size: var(--font-size-mt);
}

/* .item_fal::after {
  content: "";
  position: absolute;
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 50%;
  border-bottom: 1px solid var(--color-three); 
} */

.icono_ben_carrito{
  height: 60px;
}


/* -------------------------------- */
/* seccion caracteristicas tecnicas */
/* -------------------------------- */

.seccion_comparativo{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.tabla_oculta{
  display: flex;
  flex-direction: column;
  text-align: left;
  /* gap: 10px; */
}

.titulo_carac{
  padding-left: 16px;
  text-align: left;
  font-size: var(--font-size-mt);
}

.tabla_comparativa{
  margin: 0;
}


/* -------------------------------- */
/* --- seccion faq irradiancia ---- */
/* -------------------------------- */





.tabla_comparativa2 {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.tabla_comparativa2 th,
.tabla_comparativa2 td {
  padding: 0.75rem 0.3125rem;
  font-size: var(--font-size-sm);
  text-align: center;
  overflow-wrap: break-word;
}

.tabla_comparativa2 .atributo2 {
  font-size: var(--font-size-sm);
  font-weight: bold;
  text-align: left;
  width: 26%; 
}

.tabla_comparativa th:not(.atributo),
.tabla_comparativa td:not(.atributo) {
    width: 25%; 
}

.tabla_comparativa2 tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.tabla_comparativa2 tbody tr:nth-child(even) {
  background-color: white;
}

.botones-irradiancia{
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}

.model-button2 {
  border: var(--border-apple);
  background-color: white;
  border-radius: var(--border-radius-btn-mas-compra);
  padding: var(--padding-btn-mas-compra);
  color: black;
  font-size: var(--font-size-btn-mas-compra);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-space-1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}


.model-button2.selected {
  background-color: #007bff; /* Cambia este color por el que prefieras */
  color: white
}

