@media (min-width: 600px) {
    html {
        font-size: 24px; 
    }

    :root{
        --section-padding: 60px;
        --padding-btn-mas-compra: 12px 24px;
        --font-size-mt: 1rem;
        --font-weight-regular: 300;
    }


    /* seccion hero */

    
    .hero_info{
        padding-top: 160px;
        padding-left: 30px;
    }

    .titulo_hero{
        color: var(--color-secondary);
        font-size: var(--font-size-xlt);
        font-weight: var(--font-weight-medium);
        width: 80%;
    }
    
    .texto_hero{
        color: var(--color-secondary);
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-regular);
        width: 80%;
    }
    

    
    /* seccion beneficios */

    .titulo_bottom_beneficios{
        width: 80%;
    }


     /* seccion footer */

     .footer_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: var(---max-width-16);
        width: 60vw;
        margin: 0 auto;
        gap: 80px;
        height: 140px;
    }
    
    .redes_foot{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

}