:root {
    --max-width8: 80%;

    --max-width7: 70%;

    --font-family: "Roboto", Arial;

    --font-size-xs: 0.8rem;      /* 12px */
    --font-size-sm: 0.875rem;     /* 14px */
    --font-size-md: 1rem;         /* 16px */
    --font-size-mt: 1.125rem;     /* 18px */
    --font-size-lg: 1.25rem;      /* 20px */
    --font-size-mlg: 1.375rem;    /* 22px */
    --font-size-xl: 1.5rem;       /* 24px */
    --font-size-xltt:1.7rem;
    --font-size-xlt: 1.875rem;    /* 30px */
    --font-size-xxl: 2rem;        /* 32px */
    --font-size-xxxl: 2.5rem;     /* 40px */
    --font-size-3xl: 3rem;        /* 48px */
    --font-size-4xl: 3.5rem;      /* 56px */

    --color-primary: black;
    --color-secondary: white;
    --color-three: rgb(0, 113, 227);
    
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --border-radius-img-mov: 20px;

    --height-img-mov: 40vh;

    --nav-padding: 16px 32px;

    --section-padding: 36px;
    --section-padding_xs: 20px;

    --section-padding-top-conoce-panel-ideal: 38px;

    --gap-titulo-conjunto-section-3: 30px;
    --gap-titulo-conjunto-section-6: 60px;   
    --gap-titulo-conjunto-section-x: 40px;   
    --gap-nav: 60px; 

    --gap-logo-empresas: 120px;

    --gap-item-img: 30px;

    --gap-info-producto: 15px;

    --gap-bottom-section: 30px;

    --border-img: 20px;

    --height-header: 66px;

    --height-logo: 200px;

    --gap-logo-empresas: 7.5rem;                     /* 120px to rem */
    --gap-item-img: 1.875rem;                        /* 30px to rem */

    --gap-info-producto: 0.9375rem;                  /* 15px to rem */
    --gap-bottom-section: 1.875rem;                  /* 30px to rem */

    --border-img: 20px;

    --height-header: 4.125rem;                       /* 66px to rem */
    --height-logo: 12.5rem;                          /* 200px to rem */

    --gap-nav: 3.75rem;                              /* 60px to rem */

    --back-header: black;

    --back-apple: rgb(0, 113, 227);
    --border-apple: 1px solid #0071e3;
    --color-apple: rgb(0, 113, 227);
    --back-trans-apple: rgb(5, 121, 237);
    --color-btn-mas-info: rgb(0, 113, 227);
    --color-btn-compra: white; 

    --text-deco: underline;

    --letter-space1: 0.1px;
    --letter-space2: 0.2px;
    --letter-space3: 0.3px;
    --letter-space4: 0.4px;
    --letter-space5: 0.5px;
    --letter-space6: 0.6px;
    --letter-space7: 0.7px;
    --letter-space8: 0.8px;
    --letter-space10: 0.10px;
    --letter-space-1:-0.374px;

    /* --gap-btn-mas-compra: 30px; */

    --border-radius-btn-mas-compra: 980px;
    --padding-btn-mas-compra: 11px 21px;
    --font-size-btn-mas-compra: 17px;
    --color-btn-compra: white; 

    --gap-btn-mas-compra: 30px;           
    /* --padding-btn-mas-compra: 0.6875rem 1.3125rem;  */
    /* --font-size-btn-mas-compra: 1.0625rem;     */


    --line-hei: 28px; 
    --max-width8: 80%;
/*
    --font-size-xs: 12px; 
    --font-size-sm: 14px; 
    --font-size-md: 16px; 
    --font-size-mt: 18px;
    --font-size-lg: 20px; 
    --font-size-mlg:22px;
    --font-size-xl: 24px; 
    --font-size-xlt: 30px;
    --font-size-xxl: 32px; 
    --font-size-xxxl: 40px; 
    --font-size-3xl: 48px;
    --font-size-4xl: 56px;
  
    --line-height-xs: 1.2;
    --line-height-sm: 1.4;
    --line-height-md: 1.5;
    --line-height-lg: 1.6;

    --max-width-8: 800px;
    --max-width-9: 900px;
    --max-width-1: 1000px;
    --max-width-11: 1100px;
    --max-width-12: 1200px;
    --max-width-14: 1400px;
    ---max-width-16: 1600px;
    --max-width-15: 1500px;

    --nav-padding: 16px 32px;

    --section-padding: 60px 0px;

    --section-padding-top-conoce-panel-ideal: 40px;

    --gap-titulo-conjunto-section-3: 30px;
    --gap-titulo-conjunto-section-6: 60px;

    --gap-logo-empresas: 120px;

    --gap-item-img: 30px;

    --gap-info-producto: 15px;

    --gap-bottom-section: 30px;

    --border-img: 20px;

    --height-header: 66px;

    --height-logo: 200px;

    --color1: white;

    --gap-nav: 60px;

    --back-header: black;

    --back-apple: rgb(0, 113, 227);
    --border-apple: 1px solid rgb(0, 113, 227);
    --color-apple: rgb(0, 113, 227);
    --back-trans-apple: rgb(5, 121, 237);

    --text-deco: underline;

    --letter-space1: 0.1px;
    --letter-space2: 0.2px;
    --letter-space3: 0.3px;
    --letter-space4: 0.4px;
    --letter-space5: 0.5px;
    --letter-space6: 0.6px;
    --letter-space7: 0.7px;
    --letter-space8: 0.8px;
    --letter-space10: 0.10px;
    --letter-space-1:-0.374px;

    --gap-btn-mas-compra: 30px;

    border-radius-btn-mas-compra: 980px;
    --padding-btn-mas-compra: 11px 21px;
    --font-size-btn-mas-compra: 17px;
    --color-btn-mas-info: rgb(0, 113, 227);
    --color-btn-compra: white; */
}


/* -------------------------------- */
/* --- Estilos globales ----------- */
/* -------------------------------- */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-family);
    /* border: 1px solid rebeccapurple; */
}

a{
    color: inherit;
}

body{
    background: white;
}


/* ------------------------------ */
/* ------ nav ------------------- */
/* ------------------------------ */

/* Header */
.header_head {
    background: var(--color-primary);
    color: var(--color-secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: black;
    color: var(--color-secondary);
    height: 8vh;
    margin: 0;
    width: 100%;
    z-index: 10;
}

/* Logo */

.link_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 2vh;
}

/* Menú Hamburguesa */
.menu-label {
    display: flex;
    align-items: center;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.hamburger .line {
    width: 22px;
    height: 1.3px;
    background: #fff;
    transition: all 0.3s ease;
}

/* Ocultar input de toggle */
.menu-toggle {
    display: none;
}

.menu-toggle:checked + .menu-label .line:nth-child(1) {
    transform: rotate(45deg) translateY(5px);
}

.menu-toggle:checked + .menu-label .line:nth-child(2) {
    transform: rotate(-45deg) translateY(-5px);
}

/* Navbar */
.navbar {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    width: 102%;
    margin-top: -0.5px;
    height: auto;
    background: black;
    padding: 0px;
    z-index: 5;
    transition: transform 0.5s ease;
}

/* Mostrar el menú cuando está seleccionado */
.menu-toggle:checked ~ .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    transition: transform 0.5s ease;
}

/* Navbar List */
.navbar_list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    justify-content: space-around;
    margin: 0;
    padding: 30px 16px;
}

.item_navbar_list {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.item_navbar_list, .item_navbar_list2, .submenu{
    font-size: var(--font-size-mt);
    /* font-size: 10px; */
    font-weight: var(--font-weight-medium);
}

.submenu-toggle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.arrow {
    height: 3vh;
    margin-left: 10px;
    transition: transform 0.5s ease;
    margin: 0 auto;
    margin-left: 10px;
}

.submenu-toggle.open .arrow {
    transform: rotate(180deg);
}

.submenu {
    display: none;
    white-space: nowrap;
}

.item_submenu {
    padding: 0px 30px;
    padding-top: 30px;
    font-size: var(--font-size-mt);
    white-space: nowrap;
}

.item_submenu:hover{
    text-decoration: underline;
}

/* Mostrar submenús cuando el toggle está abierto */
.submenu-toggle.open + .submenu {
    display: flex;
}

/* Hacer que el contenido debajo del submenú se desplace */
.submenu {
    overflow: hidden;
    transition: all 0.3s ease;
}

.submenu-toggle.open + .submenu {
    height: auto; /* Expandir el submenú */
}

.submenu-toggle:not(.open) + .submenu {
    height: 0; /* Contraer el submenú */
}


/* ------------------------------------------- */
/* -------- seccion como funciona ------------ */
/* ------------------------------------------- */

.seccion_fun{
    display: flex;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    justify-content: center;
    align-items: center;
}

.container_fun{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width-1);
    gap: var(--gap-bottom-section);
    width: 98%;
    max-width: 1000px;
}

.top_fun{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.titulo_fun{
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-medium);
    max-width: var(---max-width-16);
}

.mid_fun{
    width: 90%;
    border-radius: 20px;
    max-width: var(--max-width-1);
}

.bottom_fun{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    text-align: center;
}

.texto_bottom_fun{
    text-align: center;
    max-width: var(--max-width-1);
    width: 90%;
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-regular);
}

.subtitulo_bottom_fun{
    font-size: 1.8em;
    text-align: center;
    font-weight: var(--font-weight-medium);
}


/* ------------------------------------------- */
/* --------- preguntas frecuentes ------------ */
/* ------------------------------------------- */
.faq-section {
    /* max-width: va r(--max-width); */
    display: flex;
    flex-direction: column;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    gap: var(--gap-titulo-conjunto-section-3);
    
}

.titulo_faq{
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-medium);
}

.titulo_faq2{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-semibold);
    text-align: left;
    width: 97%;
}

.conjunto_faq{
    display: flex;
    flex-direction: column;
    width: 98%;
    align-items: center;
}

.faq_item{
    display: flex;
}

.faq-question {
    cursor: pointer;
    padding: 32px;
    display: flex;
    justify-content: space-between; /* Coloca el texto y el icono a los lados */
    align-items: center;
    background-color: white;
    margin: 0 auto;
}

.faq{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-regular);
}
  
  /* Ocultar el checkbox */
.faq-checkbox {
    display: none;
}
  
  /* Estilos para el icono "+" en FAQ */
.plus_faq {
    color: black;
    transition: transform 0.3s;
    font-weight: var(--font-weight-medium);
}
  
  /* Rotación del ícono al abrir la pregunta */
.faq-checkbox:checked + .faq-question .plus_faq {
    transform: rotate(45deg); /* Cambia de "+" a "x" al abrir */
}
  
  /* Estilos para la respuesta en FAQ (oculta por defecto) */
.faq-answer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 0.3s ease; */
    padding: 0 34px;
    border-bottom: 0.6px solid rgb(0, 113, 227); /* Agregar borde debajo de la respuesta */
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-regular);
    gap: 10px;
}

.faq-answer ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.faq-answer ul li{
    list-style: disc;
}
  
  /* Mostrar respuesta cuando el checkbox está marcado */
.faq-checkbox:checked + .faq-question + .faq-answer {
    max-height: fit-content; 
    padding-top: 10px;
    padding-bottom: 30px;
}
  
  

/* -------------------------------------------------- */
/* ------ comparativo / caractersiticas tecnicas ---- */
/* -------------------------------------------------- */

.seccion_comparativo {
    text-align: center;
    padding: 0px 10px;
    padding-top: var(--section-padding_xs);
    padding-bottom: var(--section-padding);
    align-items: center;
    justify-content: center;
}

/* Ocultar el input de checkbox */
/* .toggle_input {
    display: none;
} */

.btn_toggle:hover {
    background-color: #dfdfdf;
}

/* Tabla oculta por defecto, se muestra cuando el checkbox está activado */
.tabla_oculta {
    /* display: none; */
    padding-top: 20px;
}

.toggle_input:checked + .btn_toggle + .tabla_oculta {
    display: block; 
}

/* Estilos de la tabla */
.tabla_comparativa {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* Hace que cada columna tenga el mismo ancho */
}

/* Estilos de las celdas de la tabla */
.tabla_comparativa th,
.tabla_comparativa td {
    padding: 0.75rem 0.3125rem;
    font-size: var(--font-size-sm);
    text-align: center;
    overflow-wrap: break-word;
}

/* Ancho específico para la primera columna */
.tabla_comparativa .atributo {
    font-size: var(--font-size-sm);
    font-weight: bold;
    text-align: left;
    width: 25%; /* Ancho específico para la columna de características */
}

/* Asigna el mismo ancho a las columnas de los paneles */
.tabla_comparativa th:not(.atributo),
.tabla_comparativa td:not(.atributo) {
    width: 50%; /* El resto de las columnas comparten el mismo ancho */
}

/* Estilo de los títulos de los paneles */
.titulo_panel {
    font-size: 1.5em;
    font-weight: bold;
    /* color: var(--color-apple); */
    color: rgb(255, 102, 0);
    display: block;
    margin-top: 10px;
}

/* Alternar colores en las filas de la tabla */
.tabla_comparativa tbody tr:nth-child(odd) {
    background-color: #f5f5f5; /* Color gris claro */
}

.tabla_comparativa tbody tr:nth-child(even) {
    background-color: white; /* Color blanco */
}

/* Estilo para las celdas con colspan de 3 */
.tabla_comparativa td[colspan="3"] {
    text-align: center;
    font-weight: normal;
}

/* Estilo del botón de compra */
.btn_comprar {
    border: 0.0625rem solid rgb(0, 113, 227);
    background-color: rgb(0, 113, 227);
    border-radius: 980px;
    padding: 0.6875rem 1.375rem;
    color: white;
    font-size: 1.0625rem;
    font-weight: var(--font-weight-light);
    letter-spacing: -0.374px;
}


.seccion_panelc{
    display: flex;
    padding-top: var(--section-padding);
    padding-bottom: 100px;
    width: 100%;
  }
  
  .container_panelc{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
  }


/* ------------------------------------------------------------ */
/* ------ panel de control ------------------------------------ */
/* ------------------------------------------------------------ */
  
  .img_panelc{
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-img-mov);
  }
  
  .conjunto_texto_panelc{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    line-height: 26px;
    width: 96%;
  }
  
  .texto_panelc{
    font-size: var(--font-size-mt);
    font-weight: var(--font-weight-bold);
  }
  
  .clarito {
    color: rgb(121, 121, 121);
  }
  


/* -------------------------------------------------- */
/* ------ footer ------------------------------------ */
/* -------------------------------------------------- */

footer{
    background-color: black;
    height: fit-content; 
    justify-content: center;
    align-items: center;
}

.footer_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
    height: fit-content;
    padding: 30px 0px 30px 0px;
}

.redes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo_foot{
    height: 20px;
}

.redes_foot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.tam_foot{
    height: 6vh;
}

.texto_res{
    color: var(--color-secondary);
    font-size: 12px;
    text-align: justify;
}
