/* @import url('global.css'); */

:root {
    --max-width8: 80%;

    --max-width7: 70%;

    --font-family: "Roboto", Arial;

    --font-size-xs: 0.8rem;      /* 12px */
    --font-size-sm: 0.875rem;     /* 14px */
    --font-size-md: 1rem;         /* 16px */
    --font-size-mt: 1.125rem;     /* 18px */
    --font-size-lg: 1.25rem;      /* 20px */
    --font-size-mlg: 1.375rem;    /* 22px */
    --font-size-xl: 1.5rem;       /* 24px */
    --font-size-xltt:1.7rem;
    --font-size-xlt: 1.875rem;    /* 30px */
    --font-size-xxl: 2rem;        /* 32px */
    --font-size-xxxl: 2.5rem;     /* 40px */
    --font-size-3xl: 3rem;        /* 48px */
    --font-size-4xl: 3.5rem;      /* 56px */

    --color-primary: black;
    --color-secondary: white;
    --color-three: rgb(0, 113, 227);
    
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --border-radius-img-mov: 20px;

    --height-img-mov: 40vh;

    --nav-padding: 16px 32px;

    --section-padding: 36px;
    --section-padding_xs: 20px;

    --section-padding-top-conoce-panel-ideal: 38px;

    --gap-titulo-conjunto-section-3: 30px;
    --gap-titulo-conjunto-section-6: 60px;   
    --gap-titulo-conjunto-section-x: 40px;   
    --gap-nav: 60px; 

    --gap-logo-empresas: 120px;

    --gap-item-img: 30px;

    --gap-info-producto: 15px;

    --gap-bottom-section: 30px;

    --border-img: 20px;

    --height-header: 66px;

    --height-logo: 200px;

    --gap-logo-empresas: 7.5rem;                     /* 120px to rem */
    --gap-item-img: 1.875rem;                        /* 30px to rem */

    --gap-info-producto: 0.9375rem;                  /* 15px to rem */
    --gap-bottom-section: 1.875rem;                  /* 30px to rem */

    --border-img: 20px;

    --height-header: 4.125rem;                       /* 66px to rem */
    --height-logo: 12.5rem;                          /* 200px to rem */

    --gap-nav: 3.75rem;                              /* 60px to rem */

    --back-header: black;

    --back-apple: rgb(0, 113, 227);
    --border-apple: 1px solid rgb(0, 113, 227);
    --color-apple: rgb(0, 113, 227);
    --back-trans-apple: rgb(5, 121, 237);
    --color-btn-mas-info: rgb(0, 113, 227);
    --color-btn-compra: white; 

    --text-deco: underline;

    --letter-space1: 0.1px;
    --letter-space2: 0.2px;
    --letter-space3: 0.3px;
    --letter-space4: 0.4px;
    --letter-space5: 0.5px;
    --letter-space6: 0.6px;
    --letter-space7: 0.7px;
    --letter-space8: 0.8px;
    --letter-space10: 0.10px;
    --letter-space-1:-0.374px;

    /* --gap-btn-mas-compra: 30px; */

    --border-radius-btn-mas-compra: 980px;
    --padding-btn-mas-compra: 11px 21px;
    --font-size-btn-mas-compra: 17px;
    --color-btn-compra: white; 

    --gap-btn-mas-compra: 30px;           
    /* --padding-btn-mas-compra: 0.6875rem 1.3125rem;  */
    /* --font-size-btn-mas-compra: 1.0625rem;     */


    --line-hei: 28px; 
    --max-width8: 80%;
}

/* ----------------------------------------- */
/* -- media 720px / tablets en vertical ---- */
/* ----------------------------------------- */

@media (min-width: 720px) {
    html {
        font-size: 22px; 
    }

    :root{
        --section-size-xxl: 2.4rem;
        --section-padding: 60px;
        --padding-btn-mas-compra: 12px 24px;
        --font-size-mt: 0.8rem;
        --font-weight-regular: 400;
    }

    /* --------------------------------------- */
    /* ---- pagina inicio -------------------- */
    /* --------------------------------------- */

    /* ---------- seccion hero --------------- */
   
    
    .hero_info{
        padding-top: 160px;
        padding-left: 30px;
    }

    .titulo_hero{
        color: var(--color-secondary);
        font-size: var(--font-size-xlt);
        font-weight: var(--font-weight-medium);
        width: 80%;
    }
    
    .texto_hero{
        color: var(--color-secondary);
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-regular);
        width: 80%;
    }
    
    /* ---------- seccion beneficios --------------- */


    .titulo_bottom_beneficios{
        width: 80%;
    }

    /* ---------- seccion footer ------------------- */

     .footer_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: var(---max-width-16);
        width: 60vw;
        margin: 0 auto;
        gap: 80px;
        height: 140px;
    }
    
    .redes_foot{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }


    /* ----------------------------------------------- */
    /* ------- pagina como funciona ------------------ */
    /* ----------------------------------------------- */

    /* ---------- seccion hero ------------ */

    .container_hero_fun{
        max-width: var(--max-width8);
    }

    /* ----------- seccion celula ------------ */

    .item_cel:nth-child(odd) {
        padding-left: 102px;
      }

    /* ------------ seccion panelc ------------ */

    .container_panelc{
        flex-direction: row;
        align-items: start;
        justify-content: flex-start;
        max-width: var(ma);
        gap: 30px;
    }

    .img_panelc{
        /* height: auto; */
        width:50%;
        border-radius: var(--border-radius-img-mov);
    }


    /* ------------------------------------------ */
    /* ------- pagina entrenamiento ------------- */
    /* ------------------------------------------ */

    /* --------- hero ----------- */

    .container_uso2{
        width: 70%;
    }

    /* --------- discover --------- */

    .container_discoverben{
        align-items: start;
    }

    .item_discoverben{
        width: 40%;
    }


    /* ------------------------------------------ */
    /* ------- pagina carrito ------------------- */
    /* ------------------------------------------ */

    .container {
        margin-top: 130px;
    }

    .seccion_facil{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 40px;
    }
  
    .facilidades{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
        width: 96%;
        margin: 0 auto;
    }
  
    .titulo_fal{
        font-size: var(--font-size-mt);
        font-weight: var(--font-weight-semibold);
    }
    
    .lista_fal{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap:0px;
        align-items: start;
        justify-content: space-around;
        padding: 34px 10px;
        border: 1px solid #e4e1fc;
        box-shadow: 4px 4px 8px rgba(60, 76, 116, 0.16); 
        border-radius: 10px; 
        width: 100%;
    }
    
    .item_fal{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 15%;
        gap: 16px;
        font-size: var(--font-size-mt);
    }

}


/* ------------------------------------------------------------- */
/* ------- media 992px / tablet acostada ----------------------- */
/* ------------------------------------------------------------- */

@media (min-width: 992px) {

    html{
        font-size: 23px; 
    }

    .desk{
        display: block;
    }

    .fuera{
        display: none;
    }

    :root{
        --font-size-btn-mas-compra: 19px;  
        --font-size-mt: 0.875rem; 
        --font-size-xxl: 2.3rem;
      } 

    /* --------------------------------- */
    /* ----  inicio -------------------- */
    /* --------------------------------- */

    /* --------- seccion nav ------------ */

    #hero{
        height: 100vh;
    }

    .header_container{
        position: fixed;
        height: 7vh;
    }

    .logo{
        height: 22px;
    }

    .navbar {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: fit-content;
        padding: 12px;
    }

    .menu-label, .close-menu {
        display: none; /* Ocultar ícono de menú ybotón de cierre en pantallas grandes */
    }

    .navbar_list {
        display: flex;
        flex-direction: row; /* Organiza los elementos en fila */
        gap: 40px; /* Espaciado entre los elementos */
        align-items: center;
        padding: 0px;
        width: auto;
    }

    .item_navbar_list {
        font-size: 20px;
    }

    /* ------------ seccion hero ------------ */

    .hero_info{
        /* display: flex; */
        /* flex-direction: column; */
        justify-content: flex-start;
        align-items: start;
        margin: none;
        gap: 32px;
    }
    
    .conjunto_texto_hero{
        gap: 32px;
        align-items: start;
        justify-content: flex-start;
    }
    
    .titulo_hero{
        font-size: var(--font-size-xxxl);
        width: 70%;
    }
    
    .texto_hero{
        font-size: 1.15rem;
        width: 60%;
    }
    
    .conjunto_btn_hero{
        margin: 0;
    }


    /* --------- seccion carrusel ------------ */

    .carousel-container {
        gap: 40px;
      }

    .carousel-track img {
        height: 10vh; 
        object-fit: contain;
      }

    .carousel-track {
        display: flex;
        animation: slide 24s linear infinite alternate;
        width: calc(120px * 10); 
        gap: var(--gap-logo-empresas);
        padding: 0px 100px;
    }
    
    .carousel-track img {
        height: 120px; 
        width: 120px; 
        object-fit: contain;
    }
    
    @keyframes slide {
        0% {
        transform: translateX(0);
        }
        100% {
        transform: translateX(calc(-120px * 10));
        }
    }

    /* ---------- Seccion productos ------------ */

   .seccion_productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-titulo-conjunto-section-6);
    padding: 40px 10px 60px 0px;
    }

    .conjunto_pro{
        display: flex;
        max-width: var(---max-width-16);
        width: 100%;
        gap: 10px;
        align-items: center;
        justify-content: center;
        overflow-x: unset;
        scroll-snap-type: unset;
        height: 100%;
        padding: 0px;
    }

    .link_pro{
        flex-direction: column;
        gap: var(--gap-info-producto);
    }

    .item_pro{
        gap: 12px;
    }

    .imagen_pro{
        border-radius: var(--border-img);
        height: 46vh;
        width: 100%;
    }

    .info_imagen_pro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    } 

    .gap{
        gap: 0px;
    }

    /* ----- seccion tabla comparativa ---------- */

    .btn_toggle {
        padding: 1rem 1.7rem; /* 20px 30px to rem */
        font-weight: 300;
        font-size: var(--font-size-md);
    }

    /* -------- seccion soluciones ------------ */
    
    .conjunto_sol{
        overflow-x: none;
        scroll-snap-type: none;
        justify-content: space-around;
    }
    
    .link_sol{
        height: 50vh;
        width: 32%;
        flex: none;
        scroll-snap-align: none;
        overflow: hidden;
        align-items: center;
    }

    .link_sol:hover .imagen_sol {
        filter: brightness(0.8); 
    }

    .item_sol {
        padding-bottom: 40px;
        padding-left: 40px;
        gap: 12px;
    }
    
    .texto_sol {
        font-weight: var(--font-weight-light);
        font-size: var(--font-size-md);
    }
    
    .texto2_sol{
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-md);
    }
    
    
    /* ---------- Seccion beneficios ------------- */

    .subtitulo_beneficios{
        font-size: var(--font-size-xxl);
    }

    .titulo_bottom_beneficios{
        font-size: var(--font-size-xxl);
    }


    /* ------------------------------------------ */
    /* ------- pagina como funciona ------------- */
    /* ------------------------------------------ */

    /* ---------- seccion hero ------------------ */

    .hero_fun {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .container_hero_fun{
        max-width: var(--max-width8);
    }

    /* -------- seccion historia ----------------- */

    .historia_fun{
        padding-top: 0px;
        padding-bottom: var(--section-padding);
    }

    .container_his_fun{
        height: auto;
        margin: 0 auto;
        max-width: var(--max-width8);
    }

    .img_his{
        height: 100vh;
        width: 50%;
        border-radius: var(--border-img);
    }

    .container_his_fun{
        flex-direction: row;
    }

    /* -------- seccion celula ---------------- */

    .container_cel{
        padding-top: var(--section-padding);
        gap: 80px;
        max-width: var(--max-width8);
        margin: 0 auto;
    }

    .titulo_cel{
        padding-bottom: 0px;
        width: 70%;
    }

    .item_cel:nth-child(odd) {
        padding-left: 104px; /* Impares */
    }

    .item_cel:nth-child(even){
        padding-right: 160px;
    }


    /* ---------- seccion wave -------------- */

    .container_wave{
        gap: 50px;
        max-width: var(--max-width8); 
    }

    /* ----------- section panelc ------------- */

    .container_panelc{
        flex-direction: row;
        max-width: var(--max-width8);
      }

    .img_panelc{
        /* height: auto; */
        width:60%;
        border-radius: var(--border-radius-img-mov);
    }
              

    /* ----------------------------------------- */
    /* ---- pagina entrenamiento --------------- */
    /* ----------------------------------------- */

    /* ----------- hero ------------------ */

    /* ----- seccion discover ------------ */

    .item_discoverben{
        width: 29%;
    }

    /* .desk{
        display: none;
    } */

    /* --- facil y seguro de usar ------------ */

    .conjunto_sol2 {    
        overflow-x: unset;
        scroll-snap-type: unset;
    }

    .item_sol2 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
        flex: unset;
        scroll-snap-align: start;
        overflow: hidden;
    }

    .texto_sol2{
        font-size: var(--font-size-mt);
    }

    /* ------------------------------------------- */
    /* ------- pagina sobre nosotros ------------- */
    /* ------------------------------------------- */

    .container_nos{
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        gap: 40px;
    }

    .img_nos{
        height: 60vh;
        width: 100%;
        margin: 0 auto;
        /* order: 2; */
    }


    /* ------------------------------------------- */
    /* ------- pagina carrito -------------------- */
    /* ------------------------------------------- */
    
    .seccion_carrito {
        padding-bottom: 0px;
      }

    .container {
        flex-direction: row;
        align-items: start;
        width: 96%;
        margin-top: 98px;
    }

    .carousel {
        width: 100%;
        height: 70vh;

    }

    .carousel-image {
        max-width: 100%; 
        width: 100%;
        /* height: 100%; */
        border-radius: 20px;
        object-fit: cover;
    }

    /* ----- seleccion de modelos ----------- */

    .select_model{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* ------------ Detalles -------------- */

    
    .details {
        display: flex;
        flex-direction: column;
        width: 76%;
        gap: 34px;
    }   

    .select_model{
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .model-selection {
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 100%;
      }

      .texto_carrito1{
        font-size: var(--font-size-xs);
      }

    /* ----- seleccion de modelos ----------- */
    
    .titulo_select{
        font-size: var(--font-size-xs);
    }
        

    /* ----- productos incluidos ----------- */

    .titulo_accesorie{
        font-size: var(--font-size-xs);
      }
      
    .lista_accesorie{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        justify-content: flex-start;
        text-align: left;
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        line-height: 26px;
        padding-left: 4px;
        gap: 14px;
      }

    /* -------------------------------- */
    /* ------ seccion facilidades ----- */
    /* -------------------------------- */

    .titulo_fal{
        display: none;
    }

    .item_fal{
        display: flex;
        /* flex-direction: column; */
        /* align-items: start; */
        /* width: 30%; */
        align-items: center;
        gap: 10px;
        font-size: var(--font-size-xs);
      }


    .icono_ben_carrito{
        height: 50px;
    }
}


/* --------------------------------------------------- */
/* ---- media 1200px / notebooks y más --------------- */
/* --------------------------------------------------- */

@media (min-width: 1200px) {

    html{
        font-size: 24px; 
    } 

    .fuera{
        display: block;
    }

    .out{
        display: none;
    }
    /* --------------------------------- */
    /* ----  inicio -------------------- */
    /* --------------------------------- */


    /* ---------------------------------------------- */
    /* ---- pagina como funciona -------------------- */
    /* ---------------------------------------------- */

    /* ---- seccion historia */

    .img_his{
        height: 68vh;
    }


    /* ---------------------------------------------- */
    /* ---- pagina entrenamiento -------------------- */
    /* ---------------------------------------------- */

    /* ---- hero entrenamiento -------------- */

    .hero_uso2 {
        align-items: start;
        height: 140vh;
    }

    .container_uso2{
        flex-direction: row;
        gap: 90px;
        align-items: start;
        margin-top: 220px;
        /* justify-content: flex-start; */
        width: 100%;
    }

    .container_uso2, .texto_hero2{
        align-items: end;
    }

    .conjunto_texto_uso2{
        width: 50%;
        gap: 80px;
    }

    .texto_hero2{
        color: var(--color-secondary);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-regular);
        width: 80%;
    }

    .lista_ben{
        display: flex;
        flex-direction: column;
        color: white;
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        margin-bottom: -60px;
        gap: 10px;
    }

    .item_ben{
        list-style: inside;
    }

    .experimenta2{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        bottom: 160px;
        color: var(--color-secondary);
        gap: 20px;
    }
    
    .experimenta2 h5{
        font-size: var(--font-size-xlt);
        font-weight: var(--font-weight-light);
    }
    
    .experimenta2 span{
        color: orange;
    }

    .experimenta2 p{
        font-size: var(--font-size-lg);
    }



    /* ---------- seccion facil y seguro ---------- */

    .item_sol2{
        justify-content: flex-start;
    }

    .conjunto_texto_sol2{
        margin-top: 30%;
    }
}



@media (min-width: 1900px){
    
    .lista_accesorie{
        flex-direction: column;
        /* flex-wrap: wrap; */
        align-items: start;
        justify-content: flex-start;
        text-align: left;
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        line-height: 26px;
        padding-left: 4px;
        gap: 14px;
      }

}